a {
	transition: all .3s ease-in-out;
}

a:hover {
	text-decoration: none;
	color: #0069d9;
}

.w-60 {
	width: 60px;
}

.submenu_hidden { 
	visibility: hidden;  
	height: 0;
	display: block;
	z-index: 1000; 
}

.size-notify {
	position: fixed;
	right: 0em;
	bottom: 0;
	z-index: 99999;
	font-weight: bold;
	padding: 2em;
	background-color: red;
	color: white;
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a.active {
	background-color: #007bff;
	color: white;
}

.pagination a:hover {background-color: #0069d9;}
.pagination a:hover:not(.active) {background-color: #ddd;}

.height-10 {
	height:10em;
}

.default-card {
	width: 18rem;
	margin: 1rem auto;
}

.default-card > div {
	position: relative;
	padding: 3em;
}
.default-card > div > a {
	position: absolute;
	bottom: 10;
	left: 20;
}

.default-card > div > div {
	float: right;
	font-size: 0.8em;
	position: absolute;
	bottom: 1.5em;
	right: 2em;
	font-weight: bold;
}

.price-link {
	float: right;
	font-size: 0.8em;
	position: absolute;
	bottom: 3em;
	right: 2em;
	font-weight: bold;
}

.card-no-img {
	width: 60%;
	margin: 0 auto;
}
  
.submenu_show {    
	visibility: visible;
	height: auto;  
}
 
.picture-details img {
	width: 100%;
}

.big-padding {
	padding: 2em;
}

.list-group-item.active > a {
	color: #fff;
}

.list-group-item.active > a:hover {
	opacity: .8;
}

@media(max-width: 560px) {
	.big-padding {
		padding: 1rem .5rem;
		margin: 0 auto;
	}
}